
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", serif;
    /*font-optical-sizing: auto;
    font-weight: ;
    font-style: normal;*/
    list-style-type: none;
    text-decoration: none;
}
:root{
    --primary:#14252D;
    --green:#2A9D8F;
    --text:#040F0D;
}

body {
    background-color: rgb(246, 243, 243);;
}
.mother-box{
    padding-top: 20px;
}
.header-head{
width: 100%;
height: 100%;
display: flex;
padding-block: 10px;
padding-inline: 10px;  
position: sticky;
z-index: 100;
 top: 0;
 left: 0;
/* flex-direction: column; */
justify-content: center;
align-items: center;
padding-inline:4rem;
margin-top: 2rem;
}
.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    width: 90%;
    max-height: 90px;
    border-radius: 15px;
    padding-block: 20px;
    padding-inline: 0.7rem;
    /* padding-inline: 2rem 1rem; */
    position:fixed;

}
.nav-right{
    display: flex;
    gap:40px;
}
.nav-right a{
    color: white;
}
.nav-right ul {
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-right .log-in{
  border: 2px solid var(--green);
  padding: 10px 20px;
  border-radius: 9px;
}
.dropbtn {
    position: relative;
    display: flex;
    align-items: center;
    gap: 3px;
}

.arrow {
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
}



/* Parent container should be positioned relatively */
.dropdown {
    position: relative;
}


/* Dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 150%;
    background-color: white;
    opacity:0.9;
    min-width: 250px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
    padding: 8px;

     /* Initially hidden */
     opacity: 0;
     visibility: hidden;
     transform: translate(-50%, 10px); /* Starts slightly lower */
     transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Add the little pointy arrow */
.dropdown-content::before {
    content: "";
    position: absolute;
    top: -10px; /* Moves the arrow up */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent; /* Creates a downward triangle */
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content.show {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0); /* Moves it into place */
}


.dropdown-content li {
    padding: 2px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.dropdown-content li a {
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
}
.dropdown-content img{
    width: 40px;
    height: 20px;
}


.dropdown-content .text {
    display: flex;
    flex-direction: column;
}

.dropdown-content .bold {
    font-weight: bold;
    font-size: 12px;
    color: #000;
}

.dropdown-content .description {
    font-size: 10px;
    color: #3b3a3a;
    font-weight: 400;
}

.dropdown-content li:hover {
    background: #f1f1f1;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-left{
    display: flex;
    align-items: center;
    gap: 30px;
}
.menu-btn svg{
    display: none;
 }  
.header-hero{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 35px;
    padding-inline:4rem;
    margin-top: 4rem;
    background-color: rgb(246, 243, 243);
}
.hero-right{
    /* max-width: 50%; */
    display: flex;
    flex-direction: column;
    gap:15px; 

}
.hero-right .first{
    font-size: 52px; 
    font-weight: 800;
    width: 100%;
}
.hero-right  .last{
    font-weight: 400; 
    font-size: 30px;
    font-weight: 700;
    max-width: 98%;
   
}
.hero-left{
    display: flex;
    /*align-items: center;*/
    gap: 30px;
    max-width:50%
}
.hero-left img{
    width: 100%;
    object-fit: contain;
}
.text-darkgreen{
    color: #264653;
}
.text-orange{
    color: #E76F51;
}
.text-lightgreen{
    color: #2A9D8F;
}
.getstarted-btn{
    width: 35%;
    padding: 15px 20px;
    border-radius: 6px;
    text-align: center;
    background-color: var(--primary);
    color: #FFF;
    cursor: pointer;
}
.wave{
    background-image: url('../images/wave.svg');
    width: 100%;
    height: 107px;
    background-repeat: no-repeat;
}
.service-section{
    width: 100%;
    background-color: var(--primary);
}


.service-wrapper{
    width: 100%;
    height: 100%;
    /*display: flex;
     flex-direction: column; */
     padding-block: 1rem;
    padding-inline:4rem;
    
}
.drone-container img {
    left: 59px;
    position: fixed;
    top: 87%;
    transform: translateX(-50%);
    animation: float 3s ease-in-out infinite;
}

.drone {
    width: 80px;
    cursor: pointer;
}
@keyframes float {
    0% { transform: translateX(-50%) translateY(0); }
    50% { transform: translateX(-50%) translateY(-10px); }
    100% { transform: translateX(-50%) translateY(0); }
} 
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    color: black;
    padding: 30px;
    padding-top: 10%;
    text-align: center;
    border-radius: 10px;
    width: 400px;
    position: relative;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.modal-content h2{
    font-size: 40px;
    font-weight:700;
    
}
.modal-content p{
    font-weight: 400;
}

/* Close button positioned on the left */
.close {
    position: absolute;
    top: -15px;
    left: -15px;
    font-size: 24px;
    cursor: pointer;
    background: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.no-scroll {
    overflow: hidden;
    height: 100vh;
    
}
.no-click {
    pointer-events: none;
}

/* Rocket image positioned at the top-right */
.rocket-image {
    position: absolute;
    top: -80px;
    right: -60px;
    width: 60%;
}
/* .cloud-rocket{
    position:relative;
    top: 0;
    left: 0;
} */
 .cloud-rocket{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px; /* Adjust as needed */
    background: url('images/cloud.svg') no-repeat center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
 }
.cloud-rocket img{
    width: 100%;
    
}

/* Promo Code Section */
.promo-code {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffe8d6;
    padding: 10px;
    border-radius: 8px;
    margin: 10px auto;
    width: fit-content;
    font-weight: bold;
    color: #d2691e;
}

.promo-code span {
    margin-right: 10px;
}

/* Copy button */
#copyButton {
    background: none;
    border: none;
    cursor: pointer;
}

#copyButton img {
    width: 30px;
}

/* CTA Button */
.btn {
    background:#13232A;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
    border-radius: 5px;
}


.service-top{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.service-top h3{
    font-size: 14px;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 10px
}
.service-top h2{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 30px;
    color: #FFF;
}
.service-bottom{
    display: grid;
    /* grid-template-columns: repeat(3, minmax(280px, 1fr)); */
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    justify-content: center;
    width: 100%;
    margin: auto;
}
.service-card{
    background-color: #264653;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    color: #FFF;
}
.service-card .icon {
    background-color: #13252C;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.service-card h4 {
    font-size: 18px;
}
.service-card img{
    width: 90%;
}
.service-card p {
    font-size: 14px;
}

/* CUTTING EDGE */
.cutting-edge{
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding-inline:4rem;
    margin-top: 1rem;
    gap: 30px;
    
}
.edge-right{
    width: 60%;
}
.edge-right img{
    width: 90%;
    object-fit: contain;
}
.edge-left{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.edge-left h2{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 15px;
}
.edge-left ul{
    list-style: none;
    padding: 0;
}
.edge-left li{
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
}
.edge-left li::before{
    content: "✔";
    color: #E76F51; /* Red checkmark */
    margin-right: 10px;
    font-size: 18px;
    font-weight: lighter;
}
.edge-left a.getstarted-btn{
    margin-top: 10px;
}

/* PRICING PLAN  */
.pricing-section{
    width: 100%;
    height: 100%;
    /*display: flex;
     flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding-inline:4rem;
    margin-top: 5rem;
}
.pricing-section h3 {
    font-size: 16px;
    color: #264653;
    /* text-transform: uppercase; */
    
}

.pricing-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color:var(--text) ;
}
.pricing-top{
    align-items: center;
    text-align: center;
}
.pricing-bottom{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 100%;
    /* max-width: 900px; */
    margin: auto;
}
.pricing-card{
    background: white;
    padding: 20px;
    padding-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    border: 2px solid transparent;
}
.pricing-card h3 {
    font-size: 15px;
    font-weight: bold;
    color: var(--text);
}

.pricing-card p {
    color: #676363;
    font-size: 14px;
    margin: 5px 0;
}
.popular{
    border-color: var(--green);
    position: relative;
 
}
.pricing-card ul {
    list-style: none;
    padding: 0;
    margin-top: 45px;
    
}
.pricing-card li {
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
    
}
.pricing-card li::before {
    content: "✔";
    color: #E76F51;
    margin-right: 8px;
    font-size: 14px;
}
.pricing-card h2 {
    font-size: 28px;
    color: #000;
    margin: 10px 0;
}
.plan-btn {
    background: #FFF;
    color: var(--text);
    border: 2px solid var(--green);
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    margin: 50px 0;
}
.plan-btn-popular {
    background: var(--green);
    color: #FFF;
    border: #2A9D8F;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    margin: 50px 0;
    
}
.plan-btn:hover {
    background: var(--green);
    color: #FFF;
    transition: all 0.9s ease-in-out;
    transform: scale(1.05);
}

.badge{
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--green);
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
    width: 101%;
    height: 8%;
    text-align: center;
    align-content: center; 
}


/* CHOOSE US */
.choose-section{
    margin-top: 6rem;
    width: 100%;
    /* height: 550px; */
    background-color: var(--primary);
}
.choose-wrapper{
    width: 100%;
    /* height: 400px; */
    padding-top: 20px;
    display: flex;
     flex-direction: column;
    
    padding-inline:4rem;
    
}
.choose-top{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    
}
.choose-top h3{
    font-size: 20px;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 10px;
    
}
.choose-top h2{
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 30px;
    color: #FFF;
}
.choose-bottom{
    display: grid;
    /* grid-template-columns: repeat(3, minmax(280px, 1fr)); */
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding-block: 50px;
    padding-bottom: 100px;
    justify-content: center;
    width: 100%;
    margin: auto;
}
.choose-card{
    background-color: #264653;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    color: #FFF;
}
.choose-card .icon {
    background-color: #13252C;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.choose-card h4 {
    font-size: 18px;
}
.choose-card img{
    width: 75%;
}
.choose-card p {
    font-size: 14px;
}

/* TESTIMONIAL */
.mySwiper{
    display: flex;
  }
  .mySwiper > *{
    width: 100%;
    
  }
.testimonial-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
    padding-inline:4rem;
    margin-top: 5rem;
}
.testimonial-top{
    text-align:center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.testimonial-top h3{
    font-size: 16px;
    color: #264653;
    text-transform: uppercase;
}
.testimonial-top h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color:var(--text) ;
}
.testimonial-bottom {
    max-width: 100%;
  }
  .testimonial-item {
    display: flex;
    width: 100%;
    align-items: center;
    background: #13232A;
    color: white;
    padding-top: 20px;
    border-radius: 25px 25px 25px 0;
    gap:3rem;
  }
  /* .testimonial-img {
    width: 120px;
    height: 120px;
  } */
   .testimonial-img{
    height: 100%;
   }

  .testimonial-img img {
    width: 100%;
    height: 100%;
    margin-bottom: -6px;
     object-fit: cover; 
    
  }
  .testimonial-text h3 {
    padding-block: 1rem;
    text-wrap: nowrap;
    font-weight: 600;
    font-size: 32px;

  }
  .testimonial-text h6 {
    padding-bottom: 1rem;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    text-wrap: nowrap;
    margin-top: 60px;
  }
  .testimonial-text p{
    line-height: 2rem;
    font-size: 20px;
  }
  
  /* FAQs */
  .faq-section{
    width: 100%;
    height: 100%;
    padding-inline:4rem;
    margin-top: 5rem;
}
.faq-top{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.faq-top h3{
    font-size: 16px;
    color: #264653;
    text-transform: uppercase;
}
.faq-top h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color:var(--text) ;
}
.faq-bottom {
    max-width: 100%;
    margin: auto;
    padding: 10px;
    /*padding: 20px;
    width: 100%;
     height: 75vh; 
    height: auto;
    display: flex;
    flex-direction: row !important;*/
  }
  .faq-item {
    border-bottom: 20px solid rgb(246, 243, 243);;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    background: #fff;
}

.faq-question:hover {
    background: #f1f1f1;
}

.toggle-icon {
    font-size: 20px;
    color: #E76F51;
    font-weight: bold;

    transition: transform 0.3s ease-in-out;
}
.faq-item.active .toggle-icon {
    transform: rotate(180deg);
}
 .faq-item.active .faq-answer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
    background: #fff;
    max-height: 100%;

 }
.faq-answer {
    /* display: none; */
    /* padding: 0 15px; */
    font-size: 16px;
    background: #FFF;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;
    padding: 0 20px;
}

/* CTA */
.cta-section {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 1.5rem;
    padding-inline:4rem;
    padding-block: 4rem;
    background-color: #2A9D8F;
    color: white;
    border-radius: 8px;
    text-align: center;
     flex-direction: column; 
    justify-content: center;
   ;
    
    
    
}

.cta-section h2 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 2px;
}

.cta-section p {
    font-size: 16px;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #333;
    transition: all 0.9s ease-in-out;
    transform: scale(1.05);
}

/* FOOTER */
footer {
    background-color: #13232A; /* Dark background color */
    color: #fff; /* White text color */
    /*padding: 20px 0;  Padding top and bottom */
    padding-inline: 3rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container {
    width: 100%; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container */
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 10px; /* Distribute space between the sections */
}
.container .sub{
    width: 100%; /* Set a maximum width for the container */
    margin: 0 auto; /* Center the container */
    display: flex;
    gap: 1rem;
    padding-inline: 10px;
    justify-content: space-between;   
}

.container .sub .middle{
    height: 100%;

padding: 15px;
   
}
.sub .lst{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.left {
    padding: 10px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   /* Arrange logo and payments vertically */
}

.logo img {
    max-width: 150px; /* Adjust logo size as needed */
    margin-bottom: -8px;
}
.payments{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
    padding-top: 15px;
}

.payments img {
    max-width: 40px; /* Adjust payment icon size as needed */
    margin-right: 5px;
}

.middle {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 100px;
    /* Space between the middle columns */
}

.middle h3 {
    margin-bottom: 10px;
}

.middle ul {
    list-style: none;
    padding: 0;
}

.middle li a {
    color: #fff;
    text-decoration: none;
}

.right {
    text-align: right; /* Align text to the right */
}

.right ul {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
}

.right li {
    display: inline-block; /* Make list items horizontal */
    margin-left: 20px;
}

.right li a {
    color: #fff;
    text-decoration: none;
}
.social_box{
display: flex;
justify-content: right;
}

.social {
    width: 10%;
    margin-top: 5px;
    padding-bottom: 25px;
}

.social img {
    max-width: 30px; /* Adjust social icon size as needed */
    margin-left: 5px;
}
.boxx{
    width: 100%;
    border-top: 1px solid;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    opacity: .8;
    padding-bottom: 40px;

}
.boxx > *{
    width: 50%;
}
.boxx :last-child{
  width: 30%;
  
}
.boxx a{
 color: white;

 text-decoration: none;
}
.boxx ul {
    display: flex;

}
.boxx ul > *{
    width: 80%;
    /* text-align: right; */
  
}
.boxx ul li:last-child{
   padding-right: 5px;
    width: 20%;
    /* text-align: right; */
}




.header-hero, 
.service-wrapper, 
.cutting-edge, 
.pricing-section, 
.choose-wrapper, 
.testimonial-section, 
.cta-section,
.faq-section 
.footer .container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.9s ease-in-out, transform 0.9s ease-in-out;
}

.section-visible {
    opacity: 1;
    transform: translateY(0);
}






@media screen and (min-width: 768px) and (max-width: 1024px) {
    .mother-box {
        position: relative;
        padding: 0;
        display: flex;
        flex-direction: column;
        transition: all 0.9s ease-in-out;
    }

    .header-head {
        width: 100%;
        padding-inline: 15px;
        position: sticky;
        z-index: 100;
        top: 0;
        left: 0;
    }

    .header-head .nav-items {
        margin-top: 0;
        position: fixed;
        padding-block: 10px;
        padding-inline: 12px;
    }

    .header-head .nav-items .nav-left {
        width: 100%;
        display: flex;
        z-index: 23;
        justify-content: space-between;
    }

    .menu-btn svg {
        display: block;
    }

    .nav-items .nav-right {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        justify-content: center;
        align-items: left;
        padding-top: 120px;
        transition: opacity 0.3s ease, transform 0.3s ease;
        opacity: 0;
        transform: translateY(-100%);
        z-index: 22;
        padding-inline: 2rem;
    }

    .nav-right.active {
        opacity: 1;
        transform: translateY(0);
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: left;
    }

    .nav-list li {
        width: 100%;
        text-align: left;
        position: relative;
        padding-block: 12px;
        padding-inline: 25px;
        transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
    }

    .nav-right .log-in {
        width: 50%;
        text-align: center;
    }

    .header-hero {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding-top: 30px;
        padding-inline: 15px;
    }

    .header-hero .hero-right {
        width: 100%;
    }

    .hero-right > * {
        width: 100%;
    }

    .hero-left {
        padding: 15px;
        max-width: 100%;
    }

    .hero-right .first {
        font-size: 2.5rem;
        text-align: center;
    }

    .hero-right .last {
        font-size: 2rem;
        text-align: center;
    }

    .hero-left {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    /* .service-wrapper {
        padding: 15px;
    } */
    .service-section{
        width: 100%;
        background-color: var(--primary);
    }
    
    
    .service-wrapper{
        width: 100%;
        height: 100%;
        /*display: flex;
         flex-direction: column; */
         padding-block: 1rem;
        padding-inline:3rem;
        
    }
    .drone-container img {
        position: fixed;
        top: 87%;
        left: 59px;
        
        transform: translateX(-50%);
        animation: float 3s ease-in-out infinite;
    }
    
    .drone {
        width: 80px;
        cursor: pointer;
    }
    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
    }
    
    .modal-content {
        background: white;
        color: black;
        padding: 30px;
        padding-top: 10%;
        text-align: center;
        border-radius: 10px;
        width: 400px;
        position: relative;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
    .modal-content h2{
        font-size: 40px;
        font-weight:700;
        margin-top: 80px;
    }
    .modal-content p{
        font-weight: 400;
    }

    .service-bottom {
        display: flex;
        flex-direction: column;
    }

    .cutting-edge {
        flex-direction: column;
        padding: 15px;
    }

    .edge-left,
    .edge-right {
        width: 100%;
    }

    .edge-left h2 {
        width: 100%;
        text-align: center;
        font-size: 1.8rem;
    }

    .edge-left .getstarted-btn {
        width: 100%;
    }

    .pricing-top {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .pricing-section .pricing-bottom {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .pricing-card.popular {
        order: -1;
        overflow: hidden;
        
    }
    .pricing-card.popular h3{
        margin-top: 15px;
    }

    .badge {
        top: 0;
        width: 110%;
        text-indent: 25px;
    }

    .choose-wrapper {
        padding-bottom: 15px;
    }

    .choose-top h3,
    .choose-top h2 {
        font-size: 1.5rem;
    }

    .choose-bottom {
        display: flex;
        flex-direction: column;
    }

    .testimonial-section {
        padding: 5px;
        padding-bottom: 0;
        padding-top: 15px;
    }

    .testimonial-item {
        gap: 16px;
        align-items: center;
    }

    .testimonial-item .testimonial-img {
        width: 200%;
    }

    .testimonial-bottom {
        padding: 0;
    }

    .testimonial-text {
        height: 100%;
    }

    .testimonial-text h3 {
        font-size: 1.5rem;
    }

    .testimonial-text p {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }

    .testimonial-bottom .testimonial-item {
        display: flex;
    }

    .faq-section {
        padding-inline: 0;
    }
    

    footer {
        padding-inline: 1.5rem;
    }
    footer .sub {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    footer .sub .left {
        width: 30%;
    }

    footer .sub .middle {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        width: 65%;
    }

    footer .sub .middle > * {
        width: 45%;
    }

    footer .sub .middle .products,
    footer .sub .middle .company {
        width: 45%;
    }

    footer .sub .middle .resources,
    footer .sub .middle .support {
        width: 45%;
    }

    .social_box {
        justify-content: left;
    }

    .social_box .social {
        width: 60%;
    }

    .boxx {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
    }

    .boxx > * {
        width: auto;
    }

    .boxx ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .boxx ul li {
        width: auto;
        text-align: left;
    }

    
    .dropbtn {
        position: relative;
        display: flex;
        align-items: center;
        gap: 3px;
    }
    
    .arrow {
        font-size: 20px;
        transition: transform 0.3s ease-in-out;
    }
    
    /* Show dropdown on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown {
        width: 100%;
    }
    
    .dropdown-content {
        display: none;
        background-color: white;
        box-shadow: none;
        padding-left: 15px;
        opacity: 1;
        visibility: visible;
        transform: none;
        width: 100%;
    }
    
    .dropdown-content.show {
        display: block; /* Show when clicked */
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, 0); /* Moves it into place */
    }
    
    .dropdown-content::before {
        display: none;
    }
    
    .dropdown-content li {
        padding: 2px;
        display: flex;
        align-items: center;
        list-style: none;
        padding-left: 15px;
    }
    
    .dropdown-content li:hover {
        background: #f1f1f1;
        border-radius: 5px;
    }
    
    .dropdown-content a {
        color: black;
        padding: 8px 10px;
        display: flex;
        align-items: center;
        gap: 12px;
        text-decoration: none;
        transition: background 0.3s;
    }
    
    .dropdown-content a:hover {
        background: #f0f0f0;
    }
    
    .dropdown-content img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    
    .dropdown-content .text {
        display: flex;
        flex-direction: column;
    }
    
    .dropdown-content .bold {
        font-weight: bold;
        font-size: 12px;
        color: #000;
    }
    
    .dropdown-content .description {
        font-size: 10px;
        color: #3b3a3a;
        font-weight: 400;
    }
}







@media screen and (max-width: 767px) {
    .mother-box{
        position: relative;
        padding: 0;
        display: flex;
        flex-direction: column;
        transition: all 0.9s ease-in-out;
        
    }
    .header-head{
        width: 100%;
        padding-inline: 10px;  
       position: sticky;
       z-index: 100;
        top: 0;
        left: 0;
      
    }
        .header-head .nav-items{
        margin-top: 0;
        position: fixed;    
            /* background-color: red;    */
            padding-block: 10px;
            padding-inline: 8px;
        }
        /* .header-head .nav-items .nav-left{
            width: 100%;
            display: flex;
            z-index: 23;
            justify-content: space-between;
        } */
        .header-head .nav-items .nav-left {
            display: flex;
            justify-content: space-between;
            align-items: center; /* Ensures proper vertical alignment */
            width: 100%;
            z-index: 23;
        }
    
        .nav-items .nav-left a:nth-child(2){
            display: none;
            
        }
        .menu-btn svg{
            display: block;
            margin-left: auto;
        } 
    .nav-items .nav-right{
         /* display: none;  *Hide links on mobile by default */ 
        flex-direction: column; /* Stack links vertically */
        position: fixed; /* Overlay effect */
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent background */
        justify-content: center; /* Center links vertically */
        align-items: left;
        padding-top: 100px;
        transition: opacity 0.3s ease, transform 0.3s ease; /* Example transitions */
        opacity: 0; /* Initially hidden */
        transform: translateY(-100%);
        z-index: 22;
        padding-inline: 1rem;
      
    }
    .nav-right.active {
        opacity: 1; /* Shown */
        transform: translateY(0); /* Slide into view */
    }
  
    .nav-list{
       
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: left;
        /* background-color: red; */
        
    }
    .nav-list  li{
        width: 100%;
        text-align: left;
        position: relative;	
        padding-block: 10px;
        padding-inline: 20px;
        transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
        /* background-color: #E76F51; */
    }
    .nav-list li:before, .nav-list li:after {
        content: '';
        position: absolute;	
        transition: inherit;
        z-index: -1;
    }
    .nav-list li:hover {
	color: black;
	transition-delay: .5s;
}

.nav-list li:hover:before {
	transition-delay: 0s;
}

.nav-list li:hover:after {
	background: white;
    color: black;
	transition-delay: .35s;
}
.nav-list li:hover a{
    color: black;
}

.from-top:before, 
.from-top:after {
	left: 0;
	height: 0;
	width: 100%;
}

.from-top:before {
	bottom: 0;	
	border: 1px solid white;
	border-top: 0;
	border-bottom: 0;
}

.from-top:after {
	top: 0;
	height: 0;
}

.from-top:hover:before,
.from-top:hover:after {
	height: 100%;
    color: black;
}

    .nav-right .log-in{
        width: 40%;
        text-align: center;
        
    }
    .header-hero{
        display: flex;
        width: 100%;
        flex-direction: column;
        padding-top: 20px;
        padding-inline: 10px;

    }
    .header-hero .hero-right{
        width: 100%;
    }
   
    .hero-right > *{
      width: 100%;
      /* border: 2px solid green; */
    
    }
    .hero-left{
        padding: 10px;
        max-width: 100%;
    }
    .hero-right .first{
        font-size: 2rem;
        text-align: center;
        /* border: 2px solid; */
    }
    .hero-right .last{
        font-size: 1.6rem;
        text-align: center;
        /* border: 2px solid; */
    }
    .hero-left{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    /* .hero-left .img{
        width:;
    } */
    /* .service-wrapper{
        padding: 10px;
    } */
    .service-section{
        width: 100%;
        background-color: var(--primary);
    }
    
    
    .service-wrapper{
        width: 100%;
        height: 100%;
        /*display: flex;
         flex-direction: column; */
         padding-block: 1rem;
        padding-inline:3rem;
        
    }
    .drone-container img {
        position: fixed;
        top: 89%;
        left: 38px;
        width: 65px;
        transform: translateX(-50%);
        animation: float 3s ease-in-out infinite;
    }
    
    .drone {
        width: 80px;
        cursor: pointer;
    }

    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
    }
    
    .modal-content {
        background: white;
        color: black;
        padding: 30px;
        padding-top: 10%;
        text-align: center;
        border-radius: 10px;
        width: 400px;
        position: relative;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
    .modal-content h2{
        font-size: 40px;
        font-weight:700;
        margin-top: 80px;
    }
    .modal-content p{
        font-weight: 400;
    }

    .service-bottom{
        display: flex;
        flex-direction: column;
    }
    .cutting-edge{
        flex-direction: column;
        padding: 10px;
    }
    .edge-left,.edge-right{
        width: 100%;
    }
    .edge-left h2{
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
       
    }
    .edge-left .getstarted-btn{
        width: 100%;
    }
    .edge-left .getstarted-btn:hover{
        background-color: #333;
        transition: all 0.9s ease-in-out;
        transform: scale(1.05);
    }
    .pricing-top{
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }
   .pricing-section .pricing-bottom{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .pricing-card.popular{
        order: -1;
        overflow: hidden;
    }
    .pricing-card.popular h3{
        margin-top: 15px;
    }
    .badge{
      top:0;
      width: 110%;
      text-indent: 20px;
    
    }
    .choose-wrapper{
        padding-bottom: 10px;
    }
    .choose-top h3{
font-size: 1.3rem;
    }
    .choose-top h2{
font-size: 1.3rem;
    }
    
    .choose-bottom{
        display: flex;
        flex-direction: column;
    }
    .testimonial-section{
        padding: 3px;
        padding-bottom: 0;
        padding-top: 10px;

    }
    .testimonial-item{
        gap: 14px;
        align-items: center;
    }

    .testimonial-item .testimonial-img{
        width: 230%;
        /* border: 2px solid red; */
    }
   
    .testimonial-bottom{
        padding: 0;
    }
    .testimonial-text{
        height: 100%;
    }
    .testimonial-text h3{
        font-size: 1.2rem;
    }
    .testimonial-text p{
        font-size: 0.7rem;
        line-height: 1.3rem;
    }
.testimonial-bottom .testimonial-item{
    display: flex;
}
.faq-section{
    padding-inline: 0;
}
footer{
    padding-inline: 1rem;
}
   
    footer .sub {
        flex-direction: column;
        padding-inline: 10px;
    }
    footer .sub .left{
        width: 23%;
    }
    footer .sub .middle{
        flex-direction: column;
        gap: 20px;

    }
    footer .sub .middle > * .lst{
      gap: 1px;
    }
    footer .sub .middle > * .lst a{
        font-size: 0.8rem;
    }
    .social_box{
        justify-content: left;
    }
    .social_box .social{
        width: 50%;
    }
    .boxx{
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .boxx > *{
        width: 100%;
    }
    .boxx > ul{
     
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .boxx  ul > *{
        /* background-color: blue; */
        width: 26%;
      text-align: left;
    }
    .boxx :last-child{
        width: 100%;
        justify-content: left;
    }
    .boxx ul li:last-child{
         width: 20%;
     }




     .dropbtn {
        position: relative;
        display: flex;
        align-items: center;
        gap: 3px;
    }
    
    .arrow {
        font-size: 20px;
        transition: transform 0.3s ease-in-out;
    }
    
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown {
        width: 100%;
    }
    
    .dropdown-content {
        display: none;
        background-color: white;
        box-shadow: none;
        padding-left: 15px;
        opacity: 1;
        visibility: visible;
        transform: none;
        width: 100%;
    }
    
    .dropdown-content.show {
        display: block; 
        opacity: 1;
        visibility: visible;
        transform: translate(-50%, 0); 
    }
    
    .dropdown-content::before {
        display: none;
    }
    
    .dropdown-content li {
        padding: 2px;
        display: flex;
        align-items: center;
        list-style: none;
        padding-left: 15px;
    }
    
    .dropdown-content li:hover {
        background: #f1f1f1;
        border-radius: 5px;
    }
    
    .dropdown-content a {
        color: black;
        padding: 8px 10px;
        display: flex;
        align-items: center;
        gap: 12px;
        text-decoration: none;
        transition: background 0.3s;
    }
    
    .dropdown-content a:hover {
        background: #f0f0f0;
    }
    
    .dropdown-content img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    
    .dropdown-content .text {
        display: flex;
        flex-direction: column;
    }
    
    .dropdown-content .bold {
        font-weight: bold;
        font-size: 12px;
        color: #000;
    }
    
    .dropdown-content .description {
        font-size: 10px;
        color: #3b3a3a;
        font-weight: 400;
    }
    
  }
